/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2026, 10:28:53 AM
    Author     : yoonc_feo8r6n
*/

#main-box {
    -fx-background-color: aliceblue; 
}

.label {
    -fx-font-size: 14px; 
}

.button {
    -fx-background-color: lightgreen; 
    -fx-font-weight: bold; 
    -fx-font-size: 16px;
}

.button:hover{
    -fx-background-color: darkgreen;
    -fx-cursor: hand; 
}

#title-label {
    -fx-font-size: 16px; 
    -fx-font-weight: bold;
}
